* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background: #e2e2e2;
}

nav {
    height: 100vh;
    width: 210px;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    background: #e2e2e2;
    box-shadow: 0 0 10px #a4a4a4;
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    transition: .5s;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    align-content: space-between;
}

nav h1 {
    font-size: 40px;
    margin: 10px 0;
}

nav div a {
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
}

nav div button {
    height: 40px;
    width: 150px;
    background: #e2e2e2;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #a4a4a4;
    border-radius: 5px;
    transition: .5s;
}

nav div button:active {
    transform: scale(.9);
}

nav p {
    margin: 10px;
    color: black;
    text-align: center;
}

.container {
    height: 100vh;
    width: 85%;
    background: #e2e2e2;
    overflow: scroll;
    margin-left: 15%;
}

.container::-webkit-scrollbar {
    width: 10px;
    height: 0;
    background: #a4a4a4;
}

.container::-webkit-scrollbar-thumb {
    width: 10px;
    height: 0;
    background: #e2e2e2;
}

#blog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#blog .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    box-shadow: 0 0 10px #a4a4a4;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 30px 0;
    transition: .5s;
}

#blog .card button {
    padding: 5px 15px;
    position: relative;
    transform: translate(150px, -30px);
    border: none;
    outline: none;
    box-shadow: 0 0 10px#a4a4a4;
    background-color: #e2e2e2;
    border-radius: 5px;
    color: black;
    font-size: 30px;
}

#blog .card button:active {
    transform: translate(150px, -30px) scale(.9);
}

#blog .card:hover {
    box-shadow: 0 0 30px #a4a4a4;
}

#blog .card h1 {
    font-size: 50px;
    animation: icons 3s infinite cubic-bezier(0, -0.01, 0.98, 0.97);
}

@keyframes icons {
    100% {
        transform: rotate(360deg);
    }
}

#music {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#music .head {
    height: 90px;
    width: 100%;
    background: #e2e2e2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 0 10px #a4a4a4;
}

#music .head h1 {
    text-align: center;
}

#music .head button {
    height: 40px;
    width: 150px;
    background-color: #e2e2e2;
    box-shadow: 0 0 10px #a4a4a4;
    border-top-left-radius: 20px;
    border: none;
    outline: none;
    transition: .5s;
    border-bottom-right-radius: 20px;
}

#music .head button:active {
    transform: scale(.9);
}

#music #block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#music #block .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    box-shadow: 0 0 10px #a4a4a4;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 30px 0;
    transition: .5s;
}

#music #block .card button {
    padding: 5px 15px;
    position: relative;
    transform: translate(150px, -30px);
    border: none;
    outline: none;
    box-shadow: 0 0 10px#a4a4a4;
    background-color: #e2e2e2;
    border-radius: 5px;
    color: black;
    font-size: 30px;
}

#music #block .card button:active {
    transform: translate(150px, -30px) scale(.9);
}

#music #block .card:hover {
    box-shadow: 0 0 30px #a4a4a4;
}

#music #block .card h1 {
    font-size: 50px;
    animation: Myicons 3s infinite cubic-bezier(0, -0.01, 0.98, 0.97);
    transform: translate(-30px);
}

@keyframes Myicons {
    100% {
        transform: translate(-30px) rotate(360deg);
    }
}

.toggle {
    height: 50px;
    width: 50px;
    top: 1%;
    left: 1vh;
    background-color: #e2e2e2;
    box-shadow: 0 0 10px #a4a4a4;
    border-radius: 5px;
    border: none;
    outline: none;
    position: fixed;
    z-index: 999;
    display: none;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}